# Python SQLite connection

### import sqlite3 module

In [26]:
import sqlite3

### create a Connection object that represents the database

In [27]:
conn = sqlite3.connect('data_files/python_sqlite_demo.db')

### create a Cursor object

In [28]:
c = conn.cursor()

### create table

In [ ]:
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

### example that inserts many records at a time

In [ ]:

purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

# Save (commit) the changes
conn.commit()

### query the database

In [29]:
for row in c.execute('SELECT * FROM stocks ORDER BY price'):
    print(row)

('2017-05-05', 'BUY', 'CBA', 100.0, 12.34)
('2017-05-05', 'BUY', 'XYZ', 100.0, 12.34)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

### close the connection if you are done with it.
### be sure any changes have been committed or they will be lost.

In [30]:
conn.close()